version: 2
updates:
    # GitHub Actions dependencies
    - package-ecosystem: "github-actions"
      directory: "/"
      schedule:
          interval: "weekly"
          day: "sunday"

    # Python dependencies
    - package-ecosystem: "uv"
      directory: "/"
      schedule:
          interval: "monthly"
      versioning-strategy: "increase"
      ignore:
          - dependency-name: "python"
