site_name: Decoy
site_description: "Opinionated mocking library for Python."
site_author: "Michael Cousins"
site_url: "https://michael.cousins.io/decoy/"
repo_url: "https://github.com/mcous/decoy"
repo_name: "mcous/decoy"
edit_uri: ""

nav:
    - Getting Started: index.md
    - Usage Guide (v3):
          - v3/about.md
          - v3/migration.md
          - v3/create.md
          - v3/when.md
          - v3/verify.md
          - v3/attributes.md
          - v3/context-managers.md
          - v3/api.md
    - Usage Guide:
          - usage/create.md
          - usage/when.md
          - usage/verify.md
          - usage/matchers.md
          - usage/errors-and-warnings.md
    - Advanced Usage:
          - advanced/properties.md
          - advanced/context-managers.md
    - api.md
    - contributing.md
    - license.md

theme:
    name: "material"
    favicon: img/favicon.ico
    icon:
        logo: material/duck
    features:
        - navigation.instant
        - navigation.sections
        - navigation.footer
    font:
        text: "Open Sans"
        code: "Fira Mono"
    palette:
        - media: "(prefers-color-scheme: light)"
          scheme: default
          primary: black
          accent: indigo
          toggle:
              icon: material/weather-sunny
              name: Switch to dark mode
        - media: "(prefers-color-scheme: dark)"
          scheme: slate
          primary: amber
          accent: yellow
          toggle:
              icon: material/weather-night
              name: Switch to light mode

plugins:
    - search
    - mkdocstrings:
          handlers:
              python:
                  options:
                      show_root_heading: True
                      show_object_full_path: True
                      show_source: False
                      heading_level: 2
                      summary: true
                      show_symbol_type_heading: true
                      show_symbol_type_toc: true

watch:
    - decoy

markdown_extensions:
    - toc:
          permalink: "#"
    - admonition
    - pymdownx.highlight
    - pymdownx.superfences

extra_css:
    - stylesheets/extra.css
