[tool.poetry]
name = "decoy"
version = "1.0.2"
description = "Opinionated, typed stubbing and verification library for Python"
authors = ["Mike Cousins <mike@cousins.io>"]
license = "MIT"
readme = "README.md"
repository = "https://github.com/mcous/decoy"
homepage = "https://mike.cousins.io/decoy/"
documentation = "https://mike.cousins.io/decoy/"

classifiers = [
    "Development Status :: 5 - Production/Stable",
    "Intended Audience :: Developers",
    "Operating System :: OS Independent",
    "Topic :: Software Development :: Testing",
    "Topic :: Software Development :: Testing :: Mocking",
    "Typing :: Typed",
]

[tool.poetry.dependencies]
python = "^3.7"

[tool.poetry.dev-dependencies]
black = "^20.8b1"
flake8 = "^3.8.4"
flake8-annotations = "^2.4.1"
flake8-docstrings = "^1.5.0"
mkdocs = "^1.1.2"
mkdocs-material = "^6.1.6"
mkdocstrings = "^0.13.6"
mypy = "^0.790"
pytest = "^6.1.2"
pytest-asyncio = "^0.14.0"
pytest-xdist = "^2.1.0"

[tool.pytest.ini_options]
addopts = "--color=yes"
[build-system]
requires = ["poetry>=0.12"]
build-backend = "poetry.masonry.api"

