[tool.poetry]
name = "decoy"
version = "1.6.1"
description = "Opinionated mocking library for Python"
authors = ["Mike Cousins <mike@cousins.io>"]
license = "MIT"
readme = "README.md"
repository = "https://github.com/mcous/decoy"
homepage = "https://mike.cousins.io/decoy/"
documentation = "https://mike.cousins.io/decoy/"

classifiers = [
    "Development Status :: 5 - Production/Stable",
    "Intended Audience :: Developers",
    "Operating System :: OS Independent",
    "Topic :: Software Development :: Testing",
    "Topic :: Software Development :: Testing :: Mocking",
    "Typing :: Typed",
]

[tool.poetry.urls]
"Changelog" = "https://github.com/mcous/decoy/releases"

[tool.poetry.dependencies]
python = "^3.6.2"

[tool.poetry.dev-dependencies]
black = "^21.5b1"
flake8 = "^3.8.4"
flake8-annotations = "^2.4.1"
flake8-docstrings = "^1.5.0"
mkdocs = "^1.1.2"
mkdocs-material = "^7.1.10"
mkdocstrings = "^0.15.1"
mypy = "^0.910"
pytest = "^6.1.2"
pytest-asyncio = "^0.15.1"
pytest-mypy-plugins = "^1.6.1"
pytest-xdist = "^2.1.0"

[tool.poetry.plugins."pytest11"]
"decoy" = "decoy.pytest_plugin"

[tool.pytest.ini_options]
addopts = "--color=yes --mypy-ini-file=tests/typing/mypy.ini"

[tool.mypy]
files = ["decoy", "tests"]
plugins = ["decoy/mypy/plugin.py"]
strict = true
show_error_codes = true

[build-system]
requires = ["poetry_core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
