name: Release

on:
    push:
        branches:
            - main

jobs:
    release:
        name: Create release and sync release PR
        runs-on: ubuntu-latest
        steps:
            - name: Setup node
              uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6.0.0
              with:
                  node-version: "22"

            - name: Install release-please
              run: npm install -g release-please@17.1.0

            - name: Create release
              run: |
                  release-please github-release \
                    --repo-url=mcous/decoy \
                    --config-file=.github/release-please-config.json \
                    --manifest-file=.github/.release-please-manifest.json \
                    --token=${{ secrets.RELEASE_PLEASE_GITHUB_TOKEN }}

            - name: Sync release PR
              run: |
                  release-please release-pr \
                    --repo-url=mcous/decoy \
                    --config-file=.github/release-please-config.json \
                    --manifest-file=.github/.release-please-manifest.json \
                    --token=${{ secrets.RELEASE_PLEASE_GITHUB_TOKEN }}
